$color-red-1: #CE0D0D;
$color-red-2: #BB2f28;
$color-green-1: #165B33;
$color-green-2: #146B3A;
$color-yellow: #FFD700;

$color-black-1: #000000;
$color-black-2: #2f2f2f;

$color-white-1: #ffffff;
$color-white-2: #e5e4e2;

$color-grey-1: #DDDDDD;

// Icy Colors for Animations
$color-ice-1 : #6BA7CC;
$color-ice-2 : #E2fCFF;
$color-ice-3 : #CBF1FA;