.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 6rem;
        // animation: error-title 3s infinite forwards;
        color: $color-ice-1;

        @include respon(tab-width) {
            font-size: 3rem;
        }
    }

    &__graphic {
        display: inline-block;
        fill: blue;
        width: 60rem;
        height: 60rem;
        // animation: bear 3s infinite forwards;
        fill: $color-ice-1;

        @include respon(tab-width) {
            width: 20rem;
            height: 20rem;
        }
    }
    
    

        
}