.home {

    &__title {
        text-align: center;
        padding: 4rem 0;
        font-size: 4rem;

        @include respond(phone) {
            padding: 2rem 0;
            font-size: 2rem;
        }
    }
}