.dropdown {
    text-align: center;
    background-color: $color-grey-1;
    border: .5rem solid $color-green-1;

    &__dropdown {
        margin: 5rem auto;
        width: 40%;
        height: 5rem;
        font-size: 3rem;
        padding-left: 2rem;

        @include respond(tab-width) {
            width: 60%;
        }

        @include respond(tab-port) {
            width: 60%;
        }

        @include respond(phone) {
            font-size: 2rem;
            width: 80%;
            margin: 3rem auto
        }
    }
}