.home-button {
    width: 16rem;
    height: 16rem;
    background-color: $color-red-1;
    border: .5rem solid $color-black-1;
    border-radius: 1rem; 
    text-align: center;
    margin: 3rem;

    @include respond(phone) {
        width: 13rem;
        height: 13rem;
    }


    &__image {
        display: inline-block;
        width: 13rem;
        height: 13rem;
        padding: 2rem .5rem .5rem .5rem;

        @include respond(phone) {
            width: 8rem;
            height: 9.5rem;
            padding: 2rem .5rem 0 .5rem;
        }
    }

    &:hover,
    &:active {
        border: .5rem solid $color-white-1;
        transform: scale(1.1);
    }
  }