.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
    background-color: $color-secondary;
    font-size: 2rem;

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
    }

    &__link {

        &,
        &:visited,
        &:link{ 
            text-decoration: none;
            color: $color-black-2;
        }

        &:active,
        &:hover {
            color: $color-white-1;
        }
    }
}