.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
    background-color: $color-green-1;
    font-size: 2rem;
    color: $color-white-1;

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
    }

    &__link {

        &,
        &:visited,
        &:link{ 
            text-decoration: none;
            color: $color-white-1;
        }

        &:active,
        &:hover {
            color: $color-white-2;
        }
    }
}